.type-login{
  cursor: pointer;
}

.container{
  height: 6.18rem;
  margin-bottom: 5rem;
}

.principal {
  z-index: 999;
  position: relative;
  display: flex;
  justify-content: space-between;
}

.background-black {
  background: #222222;
}

.background-red {
  background: #E42628;
}

.background-brown {
  background: #b33524 ;
}

.white-text {
  color: #ffffff;
}

.height-28 {
  height: 2.8rem;
}

.height-618 {
  height: 6.18rem;
}

.height-325 {
  height: 3.25rem;
}

.type-header {
  cursor: pointer;
  font-weight: bold;
  font-size: 1.3rem;
}


@keyframes hideBottomBar {
  0% {
    transform: translateY(0%);
    opacity: 0.8;
  }
  100% {
    transform: translateY(-6.50rem);
    opacity: 1;
  }
}

@keyframes moveCentralBar {
  0% {
    transform: translateY(0%);
    opacity: 1;
  }
  100% {
    transform: translateY(-2.8rem);
    opacity: 1;
  }
}

.center-bar {
  animation: moveCentralBar 0.3s ease forwards;
} 

.hide-bottom-bar {
  animation: hideBottomBar 0.3s ease forwards;
}