
.background-black {
  background: #222222;
}

.background-red {
  background: #E42628;
}

.background-brown {
  background: #b33524 ;
}

.white-text {
  color: #ffffff;
}

.height-28 {
  height: 2.8rem;
}

.height-618 {
  height: 6.18rem;
}

.height-325 {
  height: 3.25rem;
}

.type-header {
  cursor: pointer;
  font-weight: bold;
  font-size: 1.3rem;
}

@keyframes hideTopBar {
  0% {
  transform: translateY(0);
  opacity: 1;
}

  100% {
    transform: translateY(100%);
    opacity: 0;
  }
}

@keyframes hideBottomBar {
  0% {
    transform: translateY(0%);
    opacity: 1;
  }
  100% {
    transform: translateY(-100%);
    opacity: 0;
  }
}

:host {
  display: block;
}

.sticky-header {
  position: -webkit-sticky;
  top:0;
  position: sticky;
  z-index: 1000;
  transition: transform 1s ease, opacity 1s ease;
}

.hide-top-bar {
  animation: hideTopBar 1s ease forwards;
}

.hide-bottom-bar {
  animation: hideBottomBar 1s ease forwards;
}

.top-bar {
  position: relative;
  width: 100%;
  z-index: 999;
}

.bottom-bar {
  position: relative;
  width: 100%;
  z-index: 999;
}