
<mat-toolbar ngClass="footer" class="globalcolor">
  <mat-toolbar-row>
    <span ngClass="title">FAKESTORE +</span>
  </mat-toolbar-row>
  <mat-toolbar-row>
     <span>Copyright © 2024 FakeStore S.A.</span>
  </mat-toolbar-row>
  <mat-toolbar-row>
  <span ngClass="paragraph">The use of this website implies acceptance of the Terms and Conditions and Privacy Policies of FakeStore S.A.. The photos are for illustrative purposes. The sale of any of the published products is subject to stock verification. The online prices for the products presented/published on https://FakeStore.com and/or https://www.FakeStore.com are valid exclusively for online purchases on the aforementioned pages.</span>
  </mat-toolbar-row>
</mat-toolbar>
